.forecast-title {
  font-size: 4.5vw;
}

.forecast-day {
  padding: 1.5vw;
}

.icon {
  margin: 0 0 1vw 0;
}

.temp {
  margin: 0 0 1vw 0;

  font-size: 3vw;
}

.condition {
  font-weight: bold;
}

.background-0 {
  background: rgba(0, 0, 0, 0.1);
}

.background-1 {
  background: rgba(0, 0, 0, 0.15);
}

.background-2 {
  background: rgba(0, 0, 0, 0.2);
}

.background-3 {
  background: rgba(0, 0, 0, 0.25);
}

.background-4 {
  background: rgba(0, 0, 0, 0.3);
}

.go-back-container {
  padding: 2vw;

  font-size: 2vw;
  font-weight: bold;
}

.go-back-button {
  cursor: pointer;
}

@media (max-width: 768px) {
  .forecast-title {
    font-size: 7.5vw;
  }

  .forecast-day {
    padding: 3vw;

    font-size: 4vw;
  }

  .temp {
    margin: 0 0 2vw 0;

    font-size: 6vw;
  }

  .go-back-container {
    padding: 4vw;

    font-size: 6vw;
  }
}
