.forecastTitle {
  font-size: 4.5vw;
}

.forecastDay {
  padding: 1.5vw;
}

.icon {
  margin: 0 0 1vw 0;
}

.temp {
  margin: 0 0 1vw 0;

  font-size: 3vw;
}

.condition {
  font-weight: bold;
}

.background0 {
  background: rgba(0, 0, 0, 0.1);
}

.background1 {
  background: rgba(0, 0, 0, 0.15);
}

.background2 {
  background: rgba(0, 0, 0, 0.2);
}

.background3 {
  background: rgba(0, 0, 0, 0.25);
}

.background4 {
  background: rgba(0, 0, 0, 0.3);
}

.goBackContainer {
  padding: 2vw;

  font-size: 2vw;
  font-weight: bold;
}

.goBackButton {
  cursor: pointer;
}

@media (max-width: 768px) {
  .forecastTitle {
    font-size: 7.5vw;
  }

  .forecastDay {
    padding: 3vw;

    font-size: 4vw;
  }

  .temp {
    margin: 0 0 2vw 0;

    font-size: 6vw;
  }

  .goBackContainer {
    padding: 4vw;

    font-size: 6vw;
  }
}
