@keyframes hide {
  0% { opacity: 1; }
  90% { opacity: 0; }
  100% { position: absolute; left: -200vw; }
}

@keyframes show {
  0% { position: static; opacity: 0; }
  100% { opacity: 1; }
}

.hide {
  animation: hide .25s ease-in-out forwards;
}

.show {
  animation: show .25s ease-in-out forwards;
}

.textCenter {
  text-align: center;
}
